<section id="about">
    <div class="aboutVid">
        
        <!-- <video id="myvid" controls poster="Assets/images/poster.JPEG">
            <source src="Assets/video.mp4" type="video/mp4">
        </video> -->
        <img id="myimg" src="Assets/images/1.jpg">

    </div>
    <div class="about">
        <p>Hello, my name is Mahamad and id like to share some of my other hobbies and interests.
            Im a big car enthusiat and got interested into coding about a year 
            ago which is why i switched majors and decided to pursue a career in IT.
        </p>
    </div>
</section>