<section id="contacts">
    <div class="contacts">
        <h1>Feedback Form</h1>
        <form action="mailto:mahamadnauman.mansuri@ontariotechu.net" method="post" enctype="text/plain" name="form">

            <p>
                <label for="name">Name :</label>
                <input type="text" required name="name" size="32" placeholder="Add your name">
            </p>
            <p>
                <label for="email">Email :</label>
                <input type="email" required name="email" size="32" placeholder="Enter your email">
            </p>

            <p>
                <label for="comment">Message</label>
                <br><br>
                <textarea name="comment" cols="50" rows="8"></textarea>
            </p>


            <p>
                <label for="where">How did you find us?</label>
                <select name="where">
                    <option value="Online">Online</option>
                    <option value="Peers">Peers</option>
                    <option value="Friends/Family">Friends/Family</option>
                    <option value="other">Other</option>
                </select>
            </p>
            <p>
                <label for="maillist">If you were exhausted by the end of this assignment...</label>

                <input type="checkbox" name="maillist">
            </p>

            <p>
                <input id="subbtn" type="submit" value="Submit">
            </p>
            <p>
                <input id="resbtn" type="reset" value="Reset">
            </p>
        </form>
    </div>

</section>